<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button (click)="toggleSideBar()">
        <mat-icon aria-label="side nav toggle icon">menu</mat-icon>
    </button>

    <div class="nav-brand">
        SISTEMA SUMARIANTE
    </div>

    <span class="nav-spacer"></span>
    <!-- <form class="hidden-sm" style="margin-right: 20px; margin-top: 8px;">
    <mat-form-field style="font-size: 1rem;">
        <input matInput placeholder="Search">
    </mat-form-field>
    </form> -->

    <!-- <mat-slide-toggle [(ngModel)]="dark"></mat-slide-toggle> -->
    

    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
        <mat-icon>
            account_circle
        </mat-icon>
    </button>

    <mat-menu #profile="matMenu" [overlapTrigger]="false">
        <!-- <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item>
            <mat-icon>inbox</mat-icon>
            <span>Inbox</span>
        </button> -->

        <button (click)="onLoggedout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>CERRAR SESION</span>
        </button>
    </mat-menu>

    
    

</mat-toolbar>
