<h1 mat-dialog-title class="text-center">EDITAR PROCESO</h1>
<div fxLayout="column wrap" fxLayout.xs="column" fxLayoutAlign="space-between end">
  <div class="block">
    <p>
      <label class="style_nombre">Nombre del Proceso</label>
      <mat-form-field appearance="outline" id="style_input">
        <!-- <mat-label>Nombre del Proceso</mat-label> -->
        <input matInput  placeholder="Proceso N" readonly>
      </mat-form-field>
    </p>
  </div>
  <p class="linea"></p>
  <p>
    <label id="style_color_text">Subir los archivos pertenecientes al proceso y seleccionar el tipo de documento</label>
  </p>
  <p class="style-aligment">
    <label class="style_nombre">Seleccione los archivos:</label>
    <mat-form-field appearance="outline" class="style_input_file">
      <!-- <mat-label>Seleccione los archivos</mat-label> -->
      <input matInput>
    </mat-form-field>
    <button mat-button class="button-proceso">Browser</button>
  </p>

  <div class="mat-elevation-z10 mat-table">
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Proceso </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date_init">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="sumariante">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Documento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="button-view">
        <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let row" >
            <button mat-icon-button>
              <mat-icon>visibility</mat-icon>
            </button>
        </mat-cell>
        
      </ng-container>
      
      <ng-container matColumnDef="button-delete">
        <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let row" >
            <button mat-icon-button>
              <mat-icon>delete_forever</mat-icon>
            </button>
        </mat-cell>
        
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="100" [pageSizeOptions]="[5]" aria-label="select page">

    </mat-paginator>
  </div>



</div>
<div mat-dialog-actions class="alinear_botones">
  <button mat-button (click)="onNoClick()" class="button-procesos">cancelar</button>
  <button mat-button class="button-procesos">crear proceso</button>
</div>