.style_nombre{
    padding-right: 1rem;
    font-size: 20px;
    color: #000000aa;
}
#style_input{
    // display: flex;
    padding: 0px;
    height: 2.5rem;
    align-items: center;
}
.mat-form-field-appearance-outline .mat-form-field-flex{
    padding: 0px;
    height: 2.5rem;
    align-items: center;
}

.style-aligment{
    align-items: center;
}

// BOTON CREAR PROCESO
.button-proceso{
    background-color: #28b1c3!important;
    border-radius: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}
.alinear_botones{
    place-content: center;
}
.button-procesos{
    background-color: #28b1c3!important;
    border-radius: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-right: 15px!important;
}

.style_input_file{
    padding-right: 1rem;
    height: 1rem!important;
}

#style_color_text{
    color: #28b1c3!important;
    font-size: 17px;
    // color: #000000aa;
}

.linea{
    margin-top: 1.5rem;
    height: 0.5px;
    background-color: #000000;
}