<h1 mat-dialog-title class="text-center">CREAR UN NUEVO PROCESO</h1>
<div fxLayout="column wrap" fxLayout.xs="column" fxLayoutAlign="space-between end">

  <form [formGroup]="processForm">
    <div class="block">    
      <label class="style_nombre">Nombre del Proceso</label>
      <mat-form-field appearance="outline" id="style_input">
        <!-- <mat-label>Nombre del Proceso</mat-label> -->
        <input formControlName="processName" matInput>
      </mat-form-field>    
    </div>
  
    <p class="linea"></p>
  
    <p>
      <label class="style_nombre">Seleccionar Sumariado:</label>
      <mat-form-field appearance="outline">
        <mat-form-field>
          <mat-select formControlName="sumariado" placeholder="Sumariado">
            <mat-option value="1">Luis Alejandro Illanes Pinto</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-form-field>
    </p>
  
    <p>
      <label id="style_color_text">Subir los archivos pertenecientes al proceso y seleccionar el tipo de documento</label>
    </p>
  
    <p class="style-aligment">
      <label class="style_nombre">Seleccione los archivos:</label>
      <mat-form-field appearance="outline" class="style_input_file">
        <!-- <mat-label>Seleccione los archivos</mat-label> -->
        <input matInput>
      </mat-form-field>
      <button mat-button class="button-proceso">Browser</button>
    </p>
  
    <div class="mat-elevation-z10 mat-table">
      <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  
        <ng-container matColumnDef="numero">
          <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.numero}} </mat-cell>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Proceso </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="fecha_inicio">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fecha_inicio}} </mat-cell>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Tipo de Documento </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-form-field>
              <mat-label>Seleccionar</mat-label>
              <mat-select placeholder="category">
                <mat-option value="memorial">Memorial</mat-option>
                <mat-option value="Nota">Nota</mat-option>
              </mat-select>
            </mat-form-field>
  
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="100" [pageSizeOptions]="[5]" aria-label="select page">
      </mat-paginator>
    </div>
  </form>
  


</div>
<div mat-dialog-actions class="alinear_botones">
  <button mat-button (click)="onNoClick()" class="button-procesos">cancelar</button>
  <button mat-button (click)="submitProcess()" class="button-procesos">{{actionBtn}}</button>
</div>