<h1 mat-dialog-title class="text-center">SUBIR DOCUMENTO</h1>

<div class="">
    <form fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

        <mat-form-field appearance="legacy">
            <mat-label>NOMBRE DOCUMENTO</mat-label>
            <input [formControl]="nameDocument" matInput placeholder="INTRODUCIR NOMBRE DOCUMENTO">
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>REFERENCIA DOCUMENTO</mat-label>
            <textarea [formControl]="refDocument" matInput placeholder="INTRODUCIR REFERENCIA"></textarea>
            <mat-hint></mat-hint>
        </mat-form-field>

        <div  fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="20px">
            <mat-form-field appearance="legacy">
                <mat-label>BUSCAR LOCALMENTE</mat-label>
                <input [formControl]="name_doc" matInput placeholder="CLICK PARA BUSCAR" readonly>
                <mat-hint></mat-hint>
            </mat-form-field>
            <p>
                <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file">
                <button mat-button class="button-document" (click)="fileInput.click()">CHOOSE FILES</button>
            </p>
            
        </div> 
        
        <!-- <div  fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
            <label class="style_nombre">Seleccionar Archivo</label>
            <mat-form-field appearance="outline" id="style_input">
                <input matInput [formControl]="name_doc" readonly>
            </mat-form-field>

            <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file">
            <button mat-button class="button-document" (click)="fileInput.click()">CHOOSE FILES</button>
        </div>     -->
    </form>

    <div style="margin-top: 20px;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
        <button mat-button class="button-proceso" (click)="onCancel()">CANCELAR</button>
        <button mat-button class="button-proceso" (click)="onUploadFile()">SUBIR DOCUMENTO</button>
    </div>
</div>