@import '../add-process.component.scss';

.button-document{
    background-color: #28b1c3!important;
    border-radius: 13px;
    font-weight:300;
    margin-top: 15px;
    text-transform: uppercase;
    color: white;
}
