<div class="">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="smth">

    <ng-container matColumnDef="id_proceso">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table_style"> No# </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id_proceso}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table_style"> Nombre Proceso </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha_inicio">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table_style"> Fecha Inicio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha_inicio}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id_sumariante">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table_style"> Sumariante Asociado </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id_sumariante}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="table_style"></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color ="warn"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>     
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        NO DATA...
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator #paginator [length]="100" [pageSizeOptions]="[5,10]" aria-label="select page">

  </mat-paginator>
</div>