.container{
    margin: 15px;
    height: auto;
    border:2px solid red;
}

.box{
    margin: 15px;
    height: 250px;
    border: 2px solid red;

}

.style_nombre{
    font-size: 20px;
    color: #000000aa;
    margin-top: 15px;
}

.linea{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 0.5px;
    background-color: #000000;
}

.button-proceso{
    background-color: #28b1c3!important;
    border-radius: 13px;
    font-weight: 300;
    margin-top: 5px;
    text-transform: uppercase;
    color: white;
}

// table {
//     width: 80%;
//     margin-top: 10px;
// }

.mat-cell{
    font-size: 14px;
}


.sumariadoTable{
    width: 80%;
    margin-top: 10px;
    .mat-cell{
        font-size: 12px;
        padding-right: 15px;
    }
}

.documentTable{
    width: 90%;
    margin-top: 10px;
    .mat-cell{
        font-size: 12px;
        padding-right: 15px;
    }
}

.processTable{
    width: 80%;
    margin-top: 10px;
    // .mat-cell{
    //     font-size: 12px;
    //     padding-right: 15px;
    // }
}


#style_color_text{
    color: #28b1c3!important;
    font-size: 20px;
    // color: #000000aa;
}
