<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="main-div">
    <img fxFlex="20%" fxLayoutAlign="center center" src="/assets/images/logogestora.png" alt="image" class="logo-appearance">
    
    <mat-card fxFlex="40%" style="background-color: bisque">
        <mat-toolbar fxLayoutAlign="center center" color="primary">Login Page</mat-toolbar>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field appearance="outline">
                <mat-label>Ingrese nombre de usuario</mat-label>
                <input matInput placeholder="Username" formControlName="usuario">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Ingrese contraseña</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="contrasena">
                <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-raised-button type="submit">Login</button>
        </form>
    </mat-card>
</div>