@import '../add-process.component.scss';

.dialog-table {
    width: 100%;
}

.mat-column-id {
    padding-left: 8px;
}

.mat-column-name {
    padding-left: 8px;
}

.mat-column-date {
    padding-left: 8px;
}