.main-div mat-card {
    padding: 0px;
}
.login-form {
    padding: 20px;
}

.logo-appearance{
    padding: 20px;
    margin-right: 10px;
}

.mat-success {
    background-color: #003D62;
    color: #fff;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }