<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill fxLayoutGap="30px" >
    <img fxFlex="20%" fxLayoutAlign="center center" src="/assets/images/logogestora.png" alt="image" class="logo-appearance">
    
    <mat-card fxFlex="35%" fxFlex.xs = "45%" fxLayout="column" fxLayoutAlign="center center" style="background-color: #28B1C2">
        <form [formGroup]="authForm" (ngSubmit)="validateForm()">
            <p fxLayoutAlign="center center">
                <mat-label style="color: white; font-size: large">Login Account</mat-label>
            </p>
        
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Ingrese nombre de usuario</mat-label>
                    <input matInput placeholder="Username" formControlName="nombre">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Ingrese contraseña</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="contrasena">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
            </p>

            <p fxLayoutAlign="center center">
                <button mat-raised-button color= "success" type="submit">Login</button>
            </p>
        </form>
    </mat-card>
</div>