<div class="">

  <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="center center" >
      <table mat-table [dataSource]="dataProcess" matSort class="smth sumariadoTable">

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
        
          <ng-container matColumnDef="fecha_registro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA REGISTRO </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_registro | date}} </td>
          </ng-container>

          <ng-container matColumnDef="fecha_modificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA MODIFICACION </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_modificacion | date}} </td>
          </ng-container>

          <ng-container matColumnDef="nombresumariante">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE SUMARIANTE </th>
            <td mat-cell *matCellDef="let element"> {{element.appaterno + " " + element.apmaterno + " " + element.nombresumariante}} </td>
          </ng-container>
        
          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="table_style"></th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button color ="warn" (click)="verDetalles(row)"><mat-icon>launch</mat-icon></button>
              </td>     
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="processColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: processColumns;"></tr>

      </table>    
    </div>
    <mat-paginator #processPaginator [pageSizeOptions]="[10, 20]" aria-label="Select page of users"></mat-paginator>

  </div>

</div>