<h1 mat-dialog-title class="text-center">GENERAR URL</h1>

<div class="">
    <form>
      <p fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px">
          <label class="style_nombre">Nombre del Proceso</label>
          <mat-form-field appearance="outline" id="style_input">
              <input matInput [formControl]="nProceso" readonly>
          </mat-form-field>
      </p>

      <p class="linea"></p>

      <p>
        <label id="style_color_text">Seleccionar Sumariado</label>
      </p>
      
      <!-- PRIMERA TABLA - SUMARIANTE -->
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="INTRODUCIR C.I. o AP PATERNO" #input>
        </mat-form-field>
        
        <div fxLayout="column" fxLayoutGap="20px">
          <div fxLayout="column" fxLayoutAlign="center center">
            <table mat-table [dataSource]="dataSumariado" matSort class="smth sumariadoTable">
        
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" 
                    [checked]="sumariadoSelection.isSelected(row)"
                    (change)="selectHandler(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
         
              <ng-container matColumnDef="ci">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> C.I. </th>
                <td mat-cell *matCellDef="let row"> {{row.ci}} </td>
              </ng-container>
          
              <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.appaterno + " " + row.apmaterno + " " + row.nombre}} </td>
              </ng-container>

              <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> C.I. </th>
                <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
              </ng-container>
                  
              <tr mat-header-row *matHeaderRowDef="sumariadoColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: sumariadoColumns;"
                          (click)="selectHandler(row)">
              </tr>
          
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro: "{{input.value}}"</td>
              </tr>
            </table>
          </div>
          <mat-paginator #sumariadoPaginator [pageSizeOptions]="[3, 5, 7]" aria-label="Select page of users"></mat-paginator>
          <p>
            <mat-label id="text_select_sumariante">Sumariado seleccionado: </mat-label>
          </p>
        </div>
      </div>
      <!-- END TABLA SUMARIANTE -->

      <p>
        <label id="style_color_text">Seleccione el tipo de archivo que podra ver el sumariado</label>
      </p>

      <!-- SEGUNDA TABLA - DOCUMENTOS -->
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilterDocumento($event)" placeholder="INTRODUCIR C.I. o NOMBRE DE DOCUMENTO" #input>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="center center">
        <table mat-table #docTable docTable [dataSource]="dataDocumento" class="smth documentTable">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="documentSelection.hasValue() && isAllSelected()"
                            [indeterminate]="documentSelection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? documentSelection.toggle(row) : null"
                            [checked]="documentSelection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          		 
          <ng-container matColumnDef="n_correspondencia">
            <th mat-header-cell *matHeaderCellDef> NO. CORRESPONDENCIA </th>
            <td mat-cell *matCellDef="let element"> {{element.n_correspondencia || "-"}} </td>
          </ng-container>
        
          <ng-container matColumnDef="n_cite">
            <th mat-header-cell *matHeaderCellDef> NO. CITE </th>
            <td mat-cell *matCellDef="let element"> {{element.n_cite || "-"}} </td>
          </ng-container>
        
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> NOMBRE DOCUMENTO </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre || "-"}} </td>
          </ng-container>

          <ng-container matColumnDef="referencia">
            <th mat-header-cell *matHeaderCellDef> REFERENCIA </th>
            <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="documentTableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: documentTableColumns;"
              (click)="documentSelection.toggle(row)">
          </tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro: "{{input.value}}"</td>
          </tr>
        </table>
      </div>
      <mat-paginator #documentoPaginator [pageSizeOptions]="[3, 5, 7]" aria-label="Select page of users"></mat-paginator>
      <!-- END SEGUNDA TABLA - DOCUMENTOS -->
      
    </form>
    <div style="margin-top: 20px;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
        <button mat-button class="button-proceso" (click)="onTerminarProceso()">VOLVER</button>
        <button mat-button class="button-proceso" (click)="onGenerarEnlace()">Generar Enlace</button>
    </div>    
</div>


      <!-- perm_identity -->
      <!-- <div fxLayout="column" fxLayoutAlign="center center">
        <mat-selection-list #list [multiple]="false" (selectionChange)="onSumariadoSeleccionado(list.selectedOptions.selected)">
          <mat-list-option *ngFor="let sumariado of dataSumariado" [value]="sumariado">
            <mat-icon mat-list-icon>account_box</mat-icon> 
            <div mat-line>{{sumariado.nombre}}</div>
            <div mat-line>{{sumariado.ci}}</div>
          </mat-list-option>
        </mat-selection-list>
      </div>

      <p>
        <mat-label id="text_select_sumariante">Sumariado seleccionado: {{sumariado_seleccionado}}</mat-label>
      </p> -->