@import '~src/scss/variables';
.mat-table{
    margin: 50px;
    
}

.button-row{
    padding-left: 50px;
    margin-top: 40px;
    // background-color: red;
}

// BOTON CREAR PROCESO
.button-proceso{
    background-color: #28b1c3!important;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 1rem;
    font-weight: 300;
}

// TABLA POSICIONES
.table_style {
    text-align: right;
    // display: flex;
    align-items: stretch;
    // font-size: 1rem;
    // background-color: red;
}