<!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch"></div> -->
<!-- <div class="mt20" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-md="row" fxLayoutGap="20px">
    <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
        
    </div>
</div> -->
<div class="button-row" fxLayout="column" fxLayoutAlign="start start">
    <p>
      <button mat-raised-button color="accent" (click)="onCreate()">CREAR PROCESO</button>
    </p>

    <p>
      <mat-form-field class="search-form-field">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </p>
    
    
</div>

<div class="">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="smth">

    <ng-container matColumnDef="id_proceso">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table_style"> No# </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id_proceso}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table_style"> Nombre Proceso </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha_inicio">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table_style"> Fecha Inicio</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha_registro | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id_sumariante">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="table_style"> Sumariante Asociado </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.usuario_registro}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="table_style"></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color ="warn" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
        <button mat-icon-button (click)="onGenerateUrl(row)"><mat-icon>link</mat-icon></button>
      </mat-cell>     
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        NO DATA...
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator #paginator [length]="100" [pageSizeOptions]="[10]" aria-label="select page">

  </mat-paginator>
</div>
