$md-verdeSingle: #28b1c2;
$md-azulSingle : #0073b3;

$md-verde: (
    50 : #e5f6f8,
    100 : #bfe8ed,
    200 : #94d8e1,
    300 : #69c8d4,
    400 : #48bdcb,
    500 : #28b1c2,
    600 : #24aabc,
    700 : #1ea1b4,
    800 : #1898ac,
    900 : #0f889f,
    A100 : #cff6ff,
    A200 : #9cedff,
    A400 : #69e4ff,
    A700 : #4fe0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-azul: (
    50 : #e0eef6,
    100 : #b3d5e8,
    200 : #80b9d9,
    300 : #4d9dca,
    400 : #2688be,
    500 : #0073b3,
    600 : #006bac,
    700 : #0060a3,
    800 : #00569a,
    900 : #00438b,
    A100 : #b7d4ff,
    A200 : #84b6ff,
    A400 : #5198ff,
    A700 : #3789ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

